<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" type="text/css" src="css/common.css">
    </head>
    <body>
        <nav id="nav">
            {% if sections %}
                <ul>
                {% for section in sections %}
                <li>
                    {{ section.name }}
                    <ul>
                        {% for link in section.links %}
                            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                </ul>
            {% elif links %}
                <ul>
                {% for link in links %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>